
@{
    ViewData["Title"] = "Register";
}



@using(Html.BeginForm()){

<table class="table table-bordered ">
    
    <tr>
        <td colspan="2" align="center">
            <h1>Register Now</h1>
        </td>
    </tr>
    <tr>
        <td>
            <label for="txtname">Name</label>
        </td>
        <td>
            <input class="form-control form-control-lg" type="text" placeholder="Enter Username" name="txtusername">
        </td>
    </tr>
    <tr>
        <td>
            <label for="txtpassword">Password</label>
        </td>
        <td>
            <input class="form-control form-control-lg" type="password" placeholder="Enter Password" name="txtpassword">
        </td>
    </tr>
    <tr>
        <td>
            <label for="txtemail">Email</label>
        </td>
        <td>
            <input class="form-control form-control-lg" type="email" placeholder="example@abc.com" name="txtemail">
        </td>
    </tr>
    <tr>
        <td>
            <label for="txtname">Date of Birth</label>
        </td>
        <td>
            <input class="form-control form-control-lg" type="date" placeholder="DOB" name="txtdate">
        </td>
    </tr>
     <tr>
        <td colspan="2" align="center">
           <input type="submit" name="submit" class="btn btn-primary" />
        </td>
     </tr>

</table>



}